*.swp
__pycache__
*.pyc
*.pyo
*.swn
*.swp
*.swo
*.swm
.nfs*
*.jpeg
*.png
checkpoints
eval
FDDB_Evaluation
mafa
results
weights
widerface_evaluate/build
widerface_evaluate/widerface_txt*
widerface_evaluate/*.so
widerface_evaluate/*.c
xml_mafa
annotations.xml
convertjson.json
test_dataset.py
widerface.zip
data/FDDB/fddb_images.zip
data/Mafa_data
widerface
tmp.py
